@model Wikimedia.Models.Media

<div class="detailsPanel">
    <dl>
        <dd>
            @Model.Title
            if (Model.Shared)
            {
            <span class="fa-solid fa-share-nodes" title="Partagé">[Partagé]</span>
            }
        </dd>
        <dd>
            <iframe class="mediaPlayerBig"
                    src="https://www.youtube.com/embed/@Model.YoutubeId"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        </dd>
        <dt>
            Description
        </dt>
        <dd class="description">
            @Model.Description
        </dd>
        <dt>
            Catégorie
        </dt>

        <dd>
            @Model.Category
        </dd>

        <dt>
            Date de publication
        </dt>

        <dd>
            @Model.PublishDate.ToLongDateString()
        </dd>
        <dt>
            Publié par
        </dt>

        <dd class="UserMediumAvatar transparentBackground">
            <img src="@Model.Publisher.Avatar" />
            @Model.Publisher.Name
        </dd>
    </dl>
</div>
<script>
    const mediaId = @Model.Id;  
    const lastModified = "@Model.LastModified.Ticks";

    setInterval(() => {
        fetch('/Media/GetLastModified/' + mediaId)
            .then(r => r.text())
            .then(serverValue => {
                if (serverValue && serverValue != lastModified) {
                    location.reload();
                }
            });
    }, 5000);
</script>