@model Wikimedia.Models.Media
@{
    string sharedValue = Model.Shared ? "checked" : "";
}
<p class="pageTitle">Ajouter une vidéo</p>
<form class="form" action="/Media/@ViewBag.Action" method="POST">
    @Html.AntiForgeryToken()
    <label for="Title">Nom</label>
    <input id="Title"
           name="Title"
           class="form-control Alpha"
           placeholder="Titre"
           value="@Model.Title"
           required
           RequireMessage="Veuillez entrer un titre"
           InvalidMessage="Le titre comporte un caractère illégal"
           CustomErrorMessage="Ce titre est déjà utilisé" />
    <label for="catID" class="form-label">Catégorie</label>
    <select name="Category" class="form-control">
        <option value="0" disabled selected>Sélectionnez une catégorie</option>
        @foreach (var cat in DAL.DB.MediasCategories())
        {
            <option value="@cat">@cat</option>
        }
    </select>
    <label for="Description" class="form-label">Description </label>
    <textarea class="form-control Description"
              name="Description"
              id="Description"
              placeholder="Description"
              rows="9"
              required
              RequireMessage="Description"
              InvalidMessage="Description invalide"
              value="@Model.Description"> </textarea>

    <label for="Shared" class="form-label">Vous-vous activé le partage? </label>
    <input type="checkbox" name="SharedCB" id="SharedCB" @sharedValue />

    <input id="submit" type="submit" value="Enregistrer" class="btn btn-primary" style="display:none">
    <label for="YoutubeId" class="form - label">
        Id du media Youtube
    </label>
    <input id="YoutubeId" name="YoutubeId"
           class="form - control" placeholder="Id youtube" value=" @Model.YoutubeId "
           required
           RequireMessage="Veuillez entrer un id du media Youtube"
           CustomErrorMessage="Cet id est déjà utilisé" />
    <img id="previewThumbnail" class="mediaThumbnailBig"
         src="https://img.youtube.com/vi/@Model.YoutubeId/mqdefault.jpg" loading="lazy">
    <input id="submit" type="submit" value="Enregistrer" class="btn btn-primary" style="display:none">
</form>